CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build/*
examples/*
*.user
*.kdev4
docs/*
outsources/*
sandbox/*
